services:
  react-app:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./web
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: ./web/package.json
    environment:
      - CHOKIDAR_USEPOLLING=true
      # UPDATED: Points to the new Go/Gin port
  #     - REACT_APP_API_URL=http://localhost:8080
  #   stdin_open: true
  #   tty: true
  #   depends_on:
  #     - api

  # api:
  #   build:
  #     context: ./backend    # Points to your new Go folder
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8080:8080"         # Gin usually runs on 8080
    # environment:
    #   # Pass DB credentials so Gin can connect later
    #   - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
    # depends_on:
    #   postgres:
    #     condition: service_healthy

#   postgres:
#     image: postgres:16-alpine
#     ports:
#       - "5432:5432"
#     environment:
#       - POSTGRES_USER=${POSTGRES_USER}
#       - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
#       - POSTGRES_DB=${POSTGRES_DB}
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
#       interval: 5s
#       timeout: 5s
#       retries: 5
#       start_period: 10s

# volumes:
#   postgres_data: